.backdrop__container {
  background: rgb(28, 28, 28);
  background: linear-gradient(
    308deg,
    rgba(28, 28, 28, 0.31645631038052047) 6%,
    rgba(28, 28, 28, 0.32) 12%
  );

  width:100vw;
  height: 100vh;
  z-index: 5;
  position: relative;
}
