.button-default {
  background: none;
  border: 1px solid black;
  width: 100px;
  padding: 10px;
}

.home-btn-style {
  background: none;
  padding: 10px;
  width: auto;
  font-size: 30px;
  font-weight: bold;
  color: white;

  border: 1px solid white;
  letter-spacing: 20px;
  border-radius: 40px;

  position: relative;
  margin: 2rem 3rem;
  padding: 1rem 2rem;
  /* font-size: 1.15rem; */
  background-color: transparent;
  cursor: pointer;
}

.home-btn-style:hover {
  background: linear-gradient(145deg, #ffffff 8px, transparent 0),
    linear-gradient(-145deg, #ffffff 8px, transparent 0);
  background-repeat: repeat-x;
  background-size: 16px 16px;
}

.home-btn-style:hover::before {
  top: 0;
  left: 0;
}

.button--bop:active {
  transform: translateY(3px);
}

/* Battle */

.battle__fallback_content-btn {
  border: 2px solid black;
  border-radius: 50px;
  width: 20vw;
  height: 8vw;
  font-size: 40px;
  cursor: pointer;
}

.battle__fallback_content-btn:hover {
  background: linear-gradient(145deg, black 8px, transparent 0),
    linear-gradient(-145deg, black 8px, transparent 0);
  background-repeat: repeat-x;
  background-size: 16px 16px;
}