.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: start;

  border: 1px solid #d2d2cf;
  width: 40%;
  height: 20vw;

  background: #e2e2df;
}
.modal__container > h1{
    font-size: 50px;
}


.modal__container > p{
    font-size: 30px;
    padding: 10px;
}
